:root {
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
}

/* .bungee-shade-regular {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 */

* { /* añadimos este metodo para evitar el reset.css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}


html {
    font-size: 62.5%;
}

ol, ul, li {
    list-style: none;
}


.page-header{
    width: 100%;
    height: 7.4rem;
    background: linear-gradient(
        135deg,
         #292136, /* Color 1 */
        #2D3468, /* Color 2 */
        #4D569B, /* Color 3 */
        #7965D4, /* Color 4 */
        

        #465692, /* Color 6 */
        #465692, /* Color 7 */
        #465692, /* Color 8 */
        #6F82E9, /* Color 9 */
        

        
        #6784A4, /* Color 12 */
        #3F518F, /* Color 13 */
        #2F2E4D  /* Color 14 */
    );
    background-size: 400% 400%; /* Para animar el degradado */
    animation: gradientAnimation 15s ease infinite; /* Animación */

}

.inactive {
    display: none;
}

.navegadorPrincipal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* .contenedorLogoEmpresa {
    width: 10rem;
    height: 7.4rem;
} */


.logoEmpresa,
.logoEmpresa2 {
    width: 7.4rem;
    height: 7.4rem;
    /* object-fit: contain; */
}

.imgMenuPrincipal{
    width: 7.4rem;
    height: 7.4rem;
}


.asideMenuPrincipal {
    position: absolute;
    top: 0rem;
    /* background-color: darkslateblue; */
    background: radial-gradient(
        circle,
        #292136, /* Color 1 */
        #2D3468, /* Color 2 */
        #4D569B, /* Color 3 */
        #7965D4, /* Color 4 */
        #526AD6, /* Color 5 */

        #465692, /* Color 6 */
        #465692, /* Color 7 */
        #465692, /* Color 8 */
        #6F82E9, /* Color 9 */
        #5B93AA, /* Color 10 */

        #5AA3C6, /* Color 11 */
        #6784A4, /* Color 12 */
        #3F518F, /* Color 13 */
        #2F2E4D  /* Color 14 */
    );
    background-size: 400% 400%; /* Para animar el degradado */
    animation: gradientAnimation 15s ease infinite; /* Animación */
    


    width: 82%;
    height: 7.4rem;
    
}

.opcionesMenu{
    width: 100%;
    height: 7.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;   
    color: white;
}

.asideMenu2Principal {
    position: absolute;
    top: 7.4rem;
    background: radial-gradient(
        circle,
        #292136, /* Color 1 */
        #2D3468, /* Color 2 */
        #4D569B, /* Color 3 */
        #7965D4, /* Color 4 */
        #526AD6, /* Color 5 */

        #465692, /* Color 6 */
        #465692, /* Color 7 */
        #465692, /* Color 8 */
        #6F82E9, /* Color 9 */
        #5B93AA, /* Color 10 */

        #5AA3C6, /* Color 11 */
        #6784A4, /* Color 12 */
        #3F518F, /* Color 13 */
        #2F2E4D  /* Color 14 */
    );    
    background-size: 400% 400%; /* Para animar el degradado */
    animation: gradientAnimation 15s ease infinite; /* Animación */
    


    width: 35%;
    height: 100%;
    
}

.opcionesMenu2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.opcionesMenu2 li {
    height: 3.5rem;
    width: 100%;
    text-align: center;
    line-height: 3.5rem;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;   
    color: white;
}




.page-main {
    background: linear-gradient(
        135deg,
         #292136, /* Color 1 */
        #2D3468, /* Color 2 */
        #4D569B, /* Color 3 */
        #7965D4, /* Color 4 */
        

        #465692, /* Color 6 */
        #465692, /* Color 7 */
        #465692, /* Color 8 */
        #6F82E9, /* Color 9 */
        

        
        #6784A4, /* Color 12 */
        #3F518F, /* Color 13 */
        #2F2E4D  /* Color 14 */
    );
    background-size: 400% 400%; /* Para animar el degradado */
    animation: gradientAnimation 15s ease infinite; /* Animación */
    color: #ffffff; /* Color del texto */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}